.rodape{
    display: flex;
    background-color: rgb(4, 4, 158);
    align-items: center;
}

.links{
    display: flex;
    justify-content: center;
    gap: 100px; 
    top: 10px;
    
}

nav a{
    text-decoration: none;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;

}